body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color: #ff6600;
    padding: 20px;
    color: white;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
nav ul li {
    margin: 10px;
}
nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    padding: 10px;
}
nav ul li a:hover {
    color: white;
    background-color: #ff6600;
}
.form-container {
    width: 1170px;
    margin: auto;
    padding: 20px;
}
.form-image {
    width: 50%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input, select {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}
button {
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #333;
}
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 20px;
}
